@model TechTaskWG2.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form>
            @Html.AntiForgeryToken()
            <div class="form-inline">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DeliveryDate" class="control-label"></label>
                    <input asp-for="DeliveryDate" class="form-control" id="deliveryDate" />
                    <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Discount" class="control-label"></label>
                    <input asp-for="Discount" class="form-control" id="discount" value="0" onblur="CalculateTotalPrice();" />
                    <span asp-validation-for="Discount" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="totalPrice">Preço total (R$)</label>
                    <input type="text" class="form-control" id="totalPrice" readonly>
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <label for="product">Produto</label>
                    <select asp-items="@ViewBag.Products" id="product" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label for="price">Preço (R$)</label>
                    <input type="text" class="form-control" id="price" required>
                </div>
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input type="text" class="form-control" id="amount" required>
                </div>
                <a class="btn btn-default" onclick="AddItem();">Inserir item</a>
            </div>
            <div id="errorMessage"></div>
            <div id="items"></div>

            <a id="buttonSave" class="btn btn-primary" onclick="Save();" disabled="true">Salvar pedido</a>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
